defaults:
  - _self_
  - experiment: demo_asbs
  - lancher: demo_slurm

project: adjoint_sampler
train_itr_per_epoch: 100
init_stage: adjoint

seed: 0

clip_grad_norm: false
checkpoint: null
save_freq: 100

timesteps:
  t0: 0.0
  t1: 1.0
  steps: ${nfe}
  rescale_t: ${rescale_t}

# === hardward related  ===
resample_batch_size: 512
train_batch_size: 512
eval_batch_size: 2000
num_eval_samples: ${eval_batch_size}

# === paths  ===
# dataset:
#   datapath: /project/aip-aspuru/aburger/Transition1x/data/transition1x.h5

# energy:
#   model_ckpt: /project/aip-aspuru/aburger/hip/ckpt/hip_v2.ckpt

# dataset:
#   datapath: /ssd/Code/Datastore/transition1x.h5

# energy:
#   model_ckpt: /ssd/Code/hip/ckpt/hip_v2.ckpt

# === logging  ===
use_wandb: True
slurm_job_id: null

# Stores the command line arguments overrides
override_dirname: ${hydra:job.override_dirname}